.vscode/**
.vscode-test/**
test/**
node_modules/**
node_modules
.gitignore
jsconfig.json
eslint.config.mjs
eslint.config_browser.mjs
package-lock.json
.github/**
wasm/**
!wasm/csvscan.wasm
*.vsix
.vscode-test-web/**
dist/web/test/**
**/*.map
**/__pycache__/**
DEV_README.md
rbql_core/README.md
rbql_core/rbql_logo.png
rbql_core/rbql-js/.eslintrc.json
